* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.texteAccroche {
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 5vh;
}
.navigation {
  width: 100%;
  margin: 0;
  padding: 0;
}

.Choix_utilisateur {
  text-align: center;
  height: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  margin: 10px;
  text-align: center;
}

.pays {
  width: 220px;
  aspect-ratio: 4/3;
  border-radius: 10px;
  padding: 5px;
  cursor: grab;
}

.pays:hover {
  opacity: 0.7;
}

.nom_pays {
  margin-top: 5px;
}

.description {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid rgb(202, 199, 199);
}

.titre {
  margin-top: 5px;
  text-align: center;
}

.gallery {
  --g: 8px;
  display: grid;
  clip-path: inset(1px);
}

.gallery > img {
  border-radius: 250px;
  --_p: calc(-1 * var(--g));
  grid-area: 1/1;
  width: 250px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 0.4s 0.1s;
}

.gallery > img:first-child {
  clip-path: polygon(0 0, calc(100% + var(--_p)) 0, 0 calc(100% + var(--_p)));
}

.gallery > img:last-child {
  clip-path: polygon(
    100% 100%,
    100% calc(0% - var(--_p)),
    calc(0% - var(--_p)) 100%
  );
}

.gallery:hover > img:last-child,
.gallery:hover > img:first-child:hover {
  --_p: calc(50% - var(--g));
}

.gallery:hover > img:first-child,
.gallery:hover > img:first-child:hover + img {
  --_p: calc(-50% - var(--g));
}

.text_ville_1 {
  width: 70%;
  position: absolute;
  bottom: 240px;
  left: 250px;
}

.text_ville_2 {
  position: absolute;
  left: 260px;
  bottom: 160px;
  width: 70%;
}

.text_ville_3 {
  position: absolute;
  left: 250px;
  bottom: 80px;
  width: 70%;
}

button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #0091ff;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: #0059ff;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

h1 {
  text-align: center;
}